<div class="container">

    <div class="row">

    <div class="col">

        <input type="text" class="form-control" placeholder="First name" aria-label="First name">

    </div>

    <div class="col">

        <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">

    </div>

    </div>

    <h1 class="text-center productsRealTime">AGREGAR PRODUCTO</h1>

    <div class="mb-3">

    <label for="formGroupExampleInput" class="form-label">Titulo:</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="TITLE">

    </div>

    <div class="mb-3">

    <label for="formGroupExampleInput2" class="form-label">Descripción:</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="DESCRIPTION">

    </div>

    <div class="mb-3">

    <label for="formGroupExampleInput2" class="form-label">Precio:</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="PRICE">

    </div>

    <div class="mb-3">

    <label for="formGroupExampleInput2" class="form-label">Código:</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="CODE">

    </div>

    <div class="mb-3">

    <label for="formGroupExampleInput2" class="form-label">Stock:</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="STOCK">

    </div>

    <div class="mb-3">

    <label for="formGroupExampleInput2" class="form-label">Imagen:</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="THUMBNAIL">

    </div>

    <button type="button" class="btn btn-primary">Agregar producto</button>

</div>